{% extends 'notesapp/base.html' %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-dark">
            <div class="card bg-light mb-3 mt-5">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Reset Link Sent</h5>
                    <p class="card-text">If you entered a valid email address registered with our website then you will receive a password
                    reset link. Please check in spam folder if you do not find it in your inbox.</p>
                    <a class="btn btn-primary" href="{% url 'login' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Log In</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}