{% extends 'notesapp/base.html' %}

{% block title %}Reset Complete{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-dark">
            <div class="card bg-light mb-3 mt-5">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-check" aria-hidden="true"></i> Password Reset Complete</h5>
                    <p class="card-text">Your password was reset successfully.</p>
                    <p>Click <a href="{% url 'login' %}">here</a> to log in.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}