body {
    background-color: #555555;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
}

nav > a.navbar-brand, nav > a.navbar-brand {
    font-family: "Kaushan Script", cursive;
    font-size: 20pt;
    font-weight: bold;
}

div.notes-box {
    background-color: #FFFFFF;
    min-height: 90vh;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

div.card-detail {
    min-height: 80vh;
    margin: 1rem;
    padding: 1rem;
}

div.card-detail .card-body {
    min-height: 50vh;
}

h5.note-detail-title {
    font-weight: bold;
    margin-top: 3rem;
}

p.note-detail-text {
    text-align: justify;
    margin-top: 1rem;
}

form.note-form, form.login-form, form.signup-form, form.account-form {
    background-color: #FFFFFF;
    color: #222222;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 5px;
}