{% extends 'notesapp/base.html' %}

{% load humanize %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
    {% for font in fonts %}
        <link rel="stylesheet" href="{{ font.font_url }}">
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="notes-box">
        {% if object_list %}
            {# When notes list is not empty, dispay all notes. #}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col mb-4">
                    <a class="add-note-btn" href="{% url 'note_new' %}">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
                {% for note in object_list %}
                    <div class="col mb-4">
                        <div class="sticky-note-card"
                             style="--note-font: '{{ note.font.font_name }}';--note-color:{{ note.bg_color.code }};">
                            <div class="header">
                                <a class="action" href="{% url 'note_detail' note.slug %}">Open</a>
                            </div>
                            <div class="body">
                                <div class="title">{{ note.get_short_title }}</div>
                                <div class="text">{{ note.get_short_text }}</div>
                            </div>
                            <div class="tail">
                                <div class="content">
                                    {% if note.shared %}
                                        <div class="tag">
                                            <i class="fa fa-globe" aria-hidden="true"></i> Public
                                        </div>
                                    {% endif %}
                                    <div class="timestamp">Updated {{ note.updated_on|naturaltime }}</div>
                                </div>
                                <div class="fold"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {# When notes list is empty, display info message #}
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="text-center text-success">
                        <strong><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Create your first note</strong>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <a class="add-note-btn" href="{% url 'note_new' %}">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}