{% extends 'notesapp/base.html' %}

{% load notesapp.custom_tags %}

{% load humanize %}

{% block title %}View Note{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card-detail">
                <div class="card text-white {% random_card_background %}">
                    <div class="card-header text-center">
                        <span style="float: left">
                            <a href="{% url 'home' %}" class="btn btn-light" title="Back to all notes"><i class="fa fa-arrow-left"></i></a>
                        </span>
                        Author: {{ note.author }}
                    </div>
                    <div class="card-body">
                        <a href="{% url 'note_edit' note.pk %}" class="btn btn-light" title="Edit Note"><i class="fa fa-pencil"></i></a>
                        <h5 class="card-title note-detail-title">{{ note.title }}</h5>
                        <p class="card-text note-detail-text">{{ note.text }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <small><i class="fa fa-clock-o" aria-hidden="true"></i> Created : {{ note.created_on|naturaltime }}</small> |
                        <small><i class="fa fa-clock-o" aria-hidden="true"></i> Last Modified : {{ note.updated_on|naturaltime }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}