{% extends 'notesapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}{{ siteuser.first_name }}&apos;s Profile{% endblock %}

{% block content %}
    <div class="container bg-light mt-3 p-2 text-dark">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">{{ siteuser.first_name }}&apos; Profile</h1>
                <hr>
                <div class="card-group">
                    {% if siteuser.is_male %}
                        <div class="card d-none d-md-block">
                            <div class="card-body">
                                <img class="img-fluid d-block mx-auto" src="{% static 'img/male.png' %}" alt="Man">
                            </div>
                        </div>
                    {% elif siteuser.is_female %}
                        <div class="card d-none d-md-block">
                            <div class="card-body">
                                <img class="img-fluid d-block mx-auto" src="{% static 'img/female.png' %}" alt="Woman">
                            </div>
                        </div>
                    {% elif siteuser.is_transgender %}
                        <div class="card d-none d-md-block">
                            <div class="card-body">
                                <img class="img-fluid d-block mx-auto" src="{% static 'img/transgender.png' %}" alt="Transgender">
                            </div>
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" action="#">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes
                                </button>
                                <a href="{% url 'profile' %}" class="btn btn-info"><i class="fa fa-ban" aria-hidden="true"></i> Discard</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}